/* css body        */
body {
    margin: 0;
    padding: 0;
}
/* fin css body/


/*          css  login   */
.login {
    width: 350px;
    height: 500px;
    align-content: center;
    text-align: center;
    padding: 2px;
    padding-top: 0;
    margin: auto;
    margin-top: 30px;
    font-size: 32px;
    border: #4078c8 0.5px solid;
    border-radius: 10px;
    box-shadow: 3px 3px 2px 2px #d8ffff;
}

.login p {
    margin: 8px;
    color: #4078c8;
}

.imagen_login {
    width: 320px;
    height: 200px;
    margin: auto;
}

.login_formulario {
    margin: auto;
    margin-top: 20px;
    padding: 2px;
    height: 170px;
    width: 320px;

}

.login_formulario input {
    margin: 8px;
    width: 280px;
    height: 35px;
    border: #4078c8 0.5px solid;
    border-radius: 15px;
    padding-left: 4px;
}

.imagen_login img {
    width: 100%;
    height: 100%;
}

.enviar {
    background-color: #4078c8;
    color: aliceblue;
}

input:focus {
    outline: none;
    outline-width: 0;
    box-shadow: 3px 3px 2px 2px #d8ffff;
}

.login_formulario input:focus {
    background-color: #e7fcfc;
}

.enviar:focus {
    background-color: #4078c8;
}
/*  fin css login*/





/*         css sidebar  */
.sidebar {
    float: left;
    position: absolute;
    background-color: #2c2e30;
    width: 250px;
    height: 100%;
    outline: 1px solid #484646;
    font-size: 17px;
    left: -200px;
}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;

}

.sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar h3 {
    text-align: center;
    margin: 0;
    padding: 10px;
    background-color: #484646;
    color: white;
}

.sidebar li {
    outline: 1px solid #484646;
    transition: border 0.3s;
}

.sidebar li:hover {
    background-color: #484646;
    border-left: 5px solid #eee;
}

#img_user_li {
    height: 160px;
}

#img_user_li:hover {
    background-color: #2c2e30;
    border-left: none;
}

#nam_user_li {
    background-color: #4078c8;
}

#nam_user_li:hover {
    border-left: none;
}

#menu {
    border-left: none;
}
/* css sidebar  */




/*      css formulario usuario  */
.formulario_usuario {
    width: 50%;
    background-color: white;
    margin: auto;
    margin-top: 40px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    border: #4078c8 0.5px solid;
    border-radius: 10px;
    box-shadow: 3px 3px 2px 2px #d8ffff;
}

.formulario_usuario input {
    margin: 10px;
    width: 280px;
    height: 30px;
    border: #4078c8 0.5px solid;
    border-radius: 5px;
    padding-left: 4px;
}

input[type="number"] {
    -webkit-appearance: textfield !important;
    -moz-appearance: textfield !important;
}

.formulario_usuario p {
    margin: 10px;
    color: #484646;
}

.formulario_usuario input:focus {
    background-color: #e7fcfc;
}

/* fin css formulario usuario */



/*      css formulario ticket  */
.formulario_ticket {
    width: 90%;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    border: #4078c8 0.5px solid;
    border-radius: 10px;
    box-shadow: 3px 3px 2px 2px #d8ffff;
}

.formulario_ticket input {
    margin: 5px;
    width: 280px;
    height: 30px;
    border: #4078c8 0.5px solid;
    border-radius: 5px;
    padding-left: 4px;
}

.formulario_ticket p {
    margin: 5px;
    color: #484646;
}

.formulario_ticket input:focus {
    background-color: #e7fcfc;
}
.datos_usuario{
    border-bottom: #4078c8 0.5px solid;
    padding-bottom: 10px;
}.datos_ticket{
    margin-top: 10px;
 }
.observacion{
    width: 80%;
    resize: none;
    height: 120px;
    border: #4078c8 0.5px solid;
    border-radius: 5px;
    padding-left: 4px;
    color: #484646;
    font-size: 16px;
    padding: 3px;
}.observacion:focus{
     outline: none;
     outline-width: 0;
 }
/* fin css formulario ticket */


/*   css formulario modificar ticket*/

.datos_ticket_1{
    border-bottom: #4078c8 0.5px solid;
    padding-bottom: 10px;
}
.datos_ticket_2{
    margin-top: 10px;
    border-bottom: #4078c8 0.5px solid;
    padding-bottom: 8px;
}.datos_ticket_2 input{
   width: 90%;
 }.datos_ticket_2 p{
    margin: 0;
    margin-left: 16px;
    margin-top: 5px;
    padding: 0;
    width: 80%;
   }.datos_ticket_2 .col{
    margin: 0;
    margin-right: 20px;
    padding: 0;
    }
    #observacionp{
        width: 100%;
    }
/*   fin css formulario modificar ticket*/
