.login{
    width: 350px;
    height: 500px;
    align-content: center;
    text-align: center;
    padding: 2px;
    padding-top: 0;
    margin: auto;
    margin-top: 30px;
    font-size: 32px;
    border: #4078c8 0.5px solid;
    border-radius: 10px;
    box-shadow: 3px 3px 2px 2px #d8ffff;
}.login p{
    margin: 8px;
    color: #4078c8;
 }
.imagen_login{
 width: 320px;
 height: 200px;
 margin: auto;
}
.login_formulario{
    margin: auto;
    margin-top: 20px;
    padding: 2px;
    height:170px;
    width: 320px;

}.login_formulario input{
    margin: 8px;
    width: 280px;
    height: 35px;
    border: #4078c8 0.5px solid;
    border-radius: 15px;
    padding-left: 4px;
 }.imagen_login img{
   width: 100%;
   height: 100%;
 }
 .enviar{
     background-color: #4078c8;
     color: aliceblue;
 }
 input:focus{
     outline:none;
     outline-width: 0;
     box-shadow: 3px 3px 2px 2px #d8ffff;
 }
.login_formulario input:focus{
    background-color: #e7fcfc;
}
.enviar:focus{
    background-color: #4078c8;
}
